{% extends 'header.html'%}
{%block content %}
    <div class="container mt-2">
        <form method="POST" action="/update/{{editdata.id}}">
            {% csrf_token %}
            <div class="form-group">
                <label for="productname">Product Name</label>
                <input type="text" name="name" class="form-control" id="name" aria-describedby="productname"
                    placeholder="Enter product name" value="{{editdata.name}}">
            </div>
            <div class="form-group">
                <label for="productdescription">Product Description</label>
                <input type="text" name="description" class="form-control" id="description"
                    aria-describedby="productdescription" placeholder="Enter product description"
                    value="{{editdata.description}}">
            </div>
            <div class="form-group">
                <label for="productprice">Product Price</label>
                <input type="text" name="price" class="form-control" id="price" aria-describedby="productprice"
                    placeholder="Enter product price" value="{{editdata.price}}">
            </div>
            <button type="submit" class="btn btn-primary">Update Product</button>
            <p>Back to view page click <a href="{% url 'showproduct' %}">here</a></p>
            {% if messages %}
            {% for message in messages%}
            <div style="color: red">{{message}}</div>
            {% endfor %}
            {% endif %}
        </form>
    </div>
{% endblock %}